# Entorno virtual
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django / DB local
sunlin/db.sqlite3
*.sqlite3

# Variables de entorno
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db